/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2014, 1:05:44 PM
    Author     : Ole-Martin, Jens Vingen, Jarle Vartdal, Gøran H. Strønstad.
*/

body{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #FFF2E7; //#4B4D52
    font-family: calibri;
    color: #4B4D52;
}

	
header{
	width: 100%;
        background-color:#0E0021;
        height: 200px;
	font-family: fixedsys;
	font-size: 200%;
}

header img { 
    //Oppdaterast når det kjem ny logo
    width: 20%;
 }
 
 #headercontainer{
     width: 60%;
     height: 200px;
     margin: auto;
 }
 
 headerleft{
     float: left;
     word-spacing: 100px;
     width: 35%;
 }
 
 headerright{
     float: right;
     word-spacing: 100px;
     width: 35%;
 }
 
 

header a:link { text-decoration: none; color: #FFF2E7 }
header a:visited { text-decoration: none; color: #FFF2E7}
header a:hover { text-decoration: none; color: #DE8642;}



#leftcolumn {	float: left;
				width: 50%;

}


#rightcolumn {	float: right;
				width: 35%;
				position: relative;
				right: 100px;
				font-family: arial;
}


#wrapper {
    background-color: #FFF2E7;
    //background-color: #efefef;
    width: 100%;
    text-align: center;
    margin: auto;
    min-height: 50%;
}


#content {
    width: 40%;
    margin: auto;
    text-align: left;
    color: #4B4D52;
    padding: 10px;
}

content img{
    float: right;
    position: absolute;
}

footer{
        height: 25px;
	font-family: calibri;
	font-style: italic;
	color: #FFF2E7;
	background-color: #0E0021;
	clear: both;
        bottom: 0px;
        position: fixed;
        width: 100%;
        padding: 10px;
}















#slider {
    width: 215px;
    height: 383px;
    position: relative;
    overflow: hidden;
    background: #434343;
}
 
#slider [id^='image']:target img {
    top: 0;  
}
 
#slider [id^="image"] img {
    position: absolute;
    top: -383px;
    border: 0;
    -moz-transition: top 0.5s ease-in;
    -ms-transition: top 0.5s ease-in;
    -webkit-transition: top 0.5s ease-in;
    -o-transition: top 0.5s ease-in;
}
 

#slider [id^='image']:target a {
    background: #fff;
    border: 3px solid #333;
    width: 10px;
    height: 10px;
}
 
.slider-nav {
    background: #333;
    width: 16px;
    z-index: 9999;
    height: 16px;
    box-shadow: inset 0px 2px 10px rgba(0,0,0,0.3), 0px 0px 20px rgba(255,255,255,0.4);
    border-radius: 32px;
    position: absolute;
    bottom: 15px;
}
 
#image-1 .slider-nav { right: 80px; }
#image-2 .slider-nav { right: 60px; }
#image-3 .slider-nav { right: 40px; }
#image-4 .slider-nav { right: 20px; }