/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2014, 1:05:44 PM
    Author     : Ole-Martin, Jens Vingen, Jarle Vartdal, Gøran H. Strønstad.
*/

body{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #FFF2E7;
    font-family: calibri;
    font-color: #4B4D52;
}

	
header{
	width: 100%;
        background-color:#4B4D52;
        height: 200px;
	font-family: fixedsys;
	font-size: 200%;
}

header img { 
    //Oppdaterast når det kjem ny logo
 }
 
 #headercontainer{
     width: 60%;
     height: 200px;
     position: relative;
     margin: auto;
 }
 
 headerleft{
     float: left;
     word-spacing: 100px;
 }
 
 headerright{
     float: right;
     word-spacing: 100px;
 }
 
 

header a:link { text-decoration: none; color: white }
header a:visited { text-decoration: none; color: white}
header a:hover { text-decoration: none; color: #DE8642;}



#leftcolumn {	float: left;
				width: 50%;

}


#rightcolumn {	float: right;
				width: 35%;
				position: relative;
				right: 100px;
				font-family: arial;
}


#wrapper { 
    min-height: 200px;
    //background-color: #efefef;
    width: 100%;
    text-align: center;
    margin: auto;
}


#content { 	
    background-color: #4B4D52;
    width: 40%;
    margin: auto;
    text-align: left;
    color: #555;
}

content img{
    float: right;
    position: absolute;
}

footer{
        height: 25px;
	font-family: calibri;
	font-style: italic;
	color: black;
	background-color: #4B4D52;
	clear: both;
        bottom: 0px;
        position: fixed;
        width: 100%;
        padding: 10px;
}

